<div class="wow bounceInRight course-list">
	<div class="list-classify">
		<ol class="breadcrumb">
		  <li class="active">教学区</li>
		  <li><a href="../course">课件区</a></li>
		  <li class="active">手机摄影</li>
		</ol>
	</div>
	<div class="list-list">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  <div class="head-top">
		  	<div class="panel-img">
		  		<img src="../../assets/pbl/images/img_2.jpg">
		  	</div>
		  	<div class="panel-detail">
		  		<h3>主讲：廖江浩大师</h3>
		  		<p><strong><i class="glyphicon glyphicon-user"></i>：10000人次</strong>&nbsp;
					<strong><i class="glyphicon glyphicon-time"></i>：20课时</strong>
		  		</p>
		    	<b>简介：</b><p class="detail-intro">优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！优秀的视频课程，你值得拥有！</p>
		  		
		  	</div>
		  </div>
		  	
		  	<div class="ul-title">
		  			<h3>手机摄影教程</h3>
		  	</div>
		  </div>
		  <div class="panel-body">
		    <div class="list-group">
				  <a href="../course/video" class="list-group-item">
				   第一集：摄影
				  </a>
				  <a href="#" class="list-group-item">第一集：摄影</a>
				  <a href="#" class="list-group-item">第二集：摄影</a>
				  <a href="#" class="list-group-item">第三集：摄影</a>
				  <a href="#" class="list-group-item">第四集：摄影</a>
				</div>

		  </div>
		</div>


	</div>
</div>
