<div class="panel-heading">
    <h3 class="header">基本资料</h3>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">姓名：</label>
        <div class="col-sm-4">
            <input type="text" name="name" class="form-control" value="小明" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="account" class="col-sm-2 control-label">账号：</label>
        <div class="col-sm-4">
            <input type="text" name="account" class="form-control" value="123423423" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="schoolTyle" class="col-sm-2 control-label">学校类型：</label>
        <div class="col-sm-4">
            <input type="text" name="schoolTyle" class="form-control" value="小学" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="school" class="col-sm-2 control-label">学校：</label>
        <div class="col-sm-4">
            <input type="text" name="school" class="form-control" value="南昌小学" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="grade" class="col-sm-2 control-label">年级：</label>
        <div class="col-sm-4">
            <input type="text" name="grade" class="form-control" value="三年级" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="classRoom" class="col-sm-2 control-label">班级：</label>
        <div class="col-sm-4">
            <input type="text" name="classRoom" class="form-control" value="4班" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="QQ" class="col-sm-2 control-label">QQ：</label>
        <div class="col-sm-4">
            <input type="text" name="QQ" class="form-control" value="13213123" readonly>
        </div>
    </div>
</div>
