<div class=" about-us">
    <div class="about-header">
        <h2>联系我们</h2>
    </div>
    <div class="about-body">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>俞栋是语音识别和深度学习领域的著名专家。他于 1998 年加入微软公司，此前任微软研究院首席研究员，兼任浙江大学兼职教授和中科大客座教授。迄今为止，他已经出版了两本专著，发表了 160 多篇论文，是 60 余项专利的发明人及深度学习开源软件 CNTK 的发起人和主要作者之一。 俞栋曾获 2013 年 IEEE 信号处理协会最佳论文奖。现担任 IEEE 语音语言处理专业委员会委员，之前他也曾担任 IEEE/ACM 音频、语音及语言处理汇刊、IEEE 信号处理杂志等期刊的编委。 此前于 3 月 18 日西雅图举办的 AI Next Tech Conference 上，俞栋作为参会嘉宾发表了关于语音识别最新研究成果的讲座。在会上，他透露了正式加入腾讯的消息，将担任腾讯西雅图 AI 研究院的总负责人。</p>
            </div>
        </div>
    </div>
</div>
