
<app-album-detail *ngIf="doDetail" (doDetail)="doDetail=!doDetail"></app-album-detail>
<div class="pbl-container">
	<div class="wow bounceIn album-list-title">
		<i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;风光摄影
	</div>
	<div class="container">
	  <div id="my-gallery-container">
	    <div class="item" data-order="12">
	      <a href="javascript:;" (click)="doDetail=!doDetail" class="thumbnail">
	      <div class="item-title">
	    		<i class="glyphicon glyphicon-dashboard"></i> &nbsp;火热的dasdasdsdasddddddddddddddddddd
	    	</div>
	      	<img src="../../../assets/pbl/images/img_12.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="11">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_13.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="13">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_14.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="14">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_16.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="15">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_12.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="16">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_13.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="17">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_14.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="18">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_16.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="19">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_12.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="20">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_13.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="21">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_14.jpg" alt="...">
	    	</a>
	    </div>
	    <div class="item" data-order="22">
	      <a href="#" class="thumbnail">
	      	<img src="../../../assets/pbl/images/img_16.jpg" alt="...">
	    	</a>
	    </div>
	  </div>
	</div>

	<!-- 分页控件 -->
	<div class="paging-control">
		<nav aria-label="Page navigation">
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>   
	</div>
</div>
 