<div class="panel-heading">
    <h3 class="header">我的试卷</h3>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 paper-table">
        <table class="table table-hover">
            <thead>
                <th>试卷</th>
                <th>授课老师</th>
                <th>上交时间</th>
            </thead>
            <tbody>
                <tr>
                    <td>人像摄影</td>
                    <td>李老师</td>
                    <td>2017-3-5</td>
                </tr>
                <tr>
                    <td>人像摄影</td>
                    <td>李老师</td>
                    <td>2017-3-5</td>
                </tr>
                <tr>
                    <td>人像摄影</td>
                    <td>李老师</td>
                    <td>2017-3-5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
