<div class="panel panel-default well user-login">
    <div class="panel-heading">
        <div class="panel-title">用户登录</div>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group has-feedback">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="" value="" placeholder="">
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="text" class="form-control" name="" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">登录</button>
                        <button type="button" class="btn btn-danger">忘记密码？</button>
                    </div>
                </div>
        </form>
    </div>
</div>