#fh5co-main {
	background-color: #A9A9A9;
	padding-top: 5em; 
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

.item i{
	top: 2px;
}
.item-tag-love-empty i {
	top: -2px;
}
#fh5co-board .item a { display: block; }

#fh5co-board .item img {
 max-width: 100%;
 -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; 
}
#fh5co-board .item .fh5co-board-img {
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
 overflow: hidden; 
}
#fh5co-board .item .image-popup:hover img {
 opacity: 0.6; 
 /* border: 1px dashed #A9A9A9; */
}

#fh5co-board {
margin:0px;
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
-moz-column-gap:20px;
-webkit-column-gap:20px;
column-gap:20px;
padding: 10px;
}
.row {
	text-align: center;
	padding:0 60px 25px 60px;
}
.item {
-webkit-column-break-inside: avoid;
page-break-inside: avoid;
break-inside: avoid;
}

#fh5co-board .item { 
	margin: 0px 10px 5px 10px; 
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	-ms-border-radius: 4px; 
	border-radius: 4px; 
	overflow: hidden;
}

.item-tag {
	color: #15293a;
	padding:10px 10px;
	text-align: left ;
	opacity: 0.8;
}

.item-tag-love {
	float: right;
	color: red;
}
.item-tag-love-empty {
	float: right;
	font-size: 18px;
}
.item-tag-eye {
	float: right;
	margin-right: 10px;
}
.paging-control{
	margin-top: 100px;
}
.album-title {
	font-size: 50px;
	text-align: center;
	opacity: 0.3;
}