.forum{
	margin-top:100px;
	margin-bottom:100px;
	color:#000;
	background: url('../../assets/images/forumbg.jpg');
	border-radius:10px;
	box-shadow: 0 4px 8px 0 rgba(7,17,27,.2);
    min-height: 700px;
}
.forum-body>ul{
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.2);
    border-radius:10px 10px 0 0;
    padding-top:10px;
}
ul{
 	list-style:none;
	margin:0;
 	padding:0;
 	background:#fff;
    
}
.tab-pane>ul{
    padding-bottom:10px;
    border-radius:0 0 10px 10px;
}
.list .info{
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.list .answer{
	height: 54px;
    width: 65px;
    padding: 5px 0 5px 0;
    text-align: center;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    /* display:inline-block; */
}
.list .browse{
	height: 54px;
    width: 70px;
    text-align: center;
    padding: 5px 0 5px 0;
    color: #333;
    font-weight: 400;
    margin: 0 5px auto 5px;
    border: 1px solid #eee;
    display:inline-block;
}
.list .content{
	flex: 1;
    color: #333;
    font-size: 13px;
}
.list .tag{
    font-size: 12px;
    color: #3e6d8e;
    background-color: #e4edf4;
    border-radius: 0;
    border: 1px solid #e4edf4;
    margin: 5px 2px 2px 0;
    text-align: center;
    padding: 5px;
    display: inline-block;
}
.list li .content .pull-right{
    margin-top: 10px;
    color: #999;
    float: right;
    margin-right:30px;
}
.pull-right{
    float: right!important;
}
.list li{
	display: flex;
    flex-flow: row nowrap;
    list-style: none;
    min-height: 75px;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color .5s;
}

.paging-control{
    margin:40px 0;
    text-align:center;
}