<div class="forum container">
	<div class="row">
	<div class="col-md-10 col-md-offset-1" style="padding: 40px 0 10px 20px;font-size: 18px;">
		<p>快来这里分享你的经验吧！</p>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">最新话题</a></li>
			<li><a href="#">最热话题</a></li>
		</ul>
		<div class="tab-content">
		<div class="tab-pane active">
			<ul class="list">
				<li>
					<div class="answer info">13
						<div>回答</div>
					</div>
					<div class="browse">322
						<div>浏览</div>
					</div>
					<div class="content">
						<a href="#" class="title">同学们快来这里讨论摄影</a>
					</div>
				</li>
				<li>
					<div class="answer info">13
						<div>回答</div>
					</div>
					<div class="browse">322
						<div>浏览</div>
					</div>
					<div class="content">
						<a href="#" class="title">同学们快来这里讨论摄影</a>
					</div>
				</li>
				<li>
					<div class="answer info">13
						<div>回答</div>
					</div>
					<div class="browse">322
						<div>浏览</div>
					</div>
					<div class="content">
						<a href="#" class="title">同学们快来这里讨论摄影</a>
					</div>
				</li>
				<li>
					<div class="answer info">13
						<div>回答</div>
					</div>
					<div class="browse">322
						<div>浏览</div>
					</div>
					<div class="content">
						<a href="#" class="title">同学们快来这里讨论摄影</a>
					</div>
				</li>
				<li>
					<div class="answer info">13
						<div>回答</div>
					</div>
					<div class="browse">322
						<div>浏览</div>
					</div>
					<div class="content">
						<a href="#" class="title">同学们快来这里讨论摄影</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	</div>
	
</div>
</div>