<div class="forum container wow bounceInDown">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="padding: 40px 0 10px 20px;font-size: 18px;">
            <p>快来这里分享你的经验吧！</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 forum-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">最新话题</a></li>
                <li><a href="#">最热话题</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <ul class="list">
                        <li>
                            <div class="answer info">13
                                <div>回答</div>
                            </div>
                            <div class="browse">322
                                <div>浏览</div>
                            </div>
                            <div class="content">
                                <a href="#" class="title">同学们快来这里讨论摄影</a>
                                <div>
                                	<span class="tag">人像摄影</span>
                                	<span class="pull-right hidden-xs">发布于：2017-3-5</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="answer info">13
                                <div>回答</div>
                            </div>
                            <div class="browse">322
                                <div>浏览</div>
                            </div>
                            <div class="content">
                                <a href="#" class="title">同学们快来这里讨论摄影</a>
                            </div>
                        </li>
                        <li>
                            <div class="answer info">13
                                <div>回答</div>
                            </div>
                            <div class="browse">322
                                <div>浏览</div>
                            </div>
                            <div class="content">
                                <a href="#" class="title">同学们快来这里讨论摄影</a>
                            </div>
                        </li>
                        <li>
                            <div class="answer info">13
                                <div>回答</div>
                            </div>
                            <div class="browse">322
                                <div>浏览</div>
                            </div>
                            <div class="content">
                                <a href="#" class="title">同学们快来这里讨论摄影</a>
                            </div>
                        </li>
                        <li>
                            <div class="answer info">13
                                <div>回答</div>
                            </div>
                            <div class="browse">322
                                <div>浏览</div>
                            </div>
                            <div class="content">
                                <a href="#" class="title">同学们快来这里讨论摄影</a>
                            </div>
                        </li>
                        <li>
                            <div class="answer info">13
                                <div>回答</div>
                            </div>
                            <div class="browse">322
                                <div>浏览</div>
                            </div>
                            <div class="content">
                                <a href="#" class="title">同学们快来这里讨论摄影</a>
                            </div>
                        </li>
                        <li>
                            <div class="answer info">13
                                <div>回答</div>
                            </div>
                            <div class="browse">322
                                <div>浏览</div>
                            </div>
                            <div class="content">
                                <a href="#" class="title">同学们快来这里讨论摄影</a>
                            </div>
                        </li>
                    </ul>
                    <div class="paging-control">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
