.addPaper{
	background-color: #fff;
    width: 60%;
    z-index: 1010;
    position: absolute;
    top: 100px;
    left: 20%;
	box-shadow: 0 4px 8px 0 rgba(7,17,27,.2);
}

.panel-body{
	min-height:500px;
}
.paper-title{
	margin-top:20px;
	margin-bottom:40px;
}
.panel-footer{
	height:51px;
}

.stem button{
	margin:20px 0;
}