<div class="detail-back" (click)="doDetailBtnClick()"></div>
<div class="panel panel-default well picture-detail">
    <div class="panel-heading" style="margin:0 40px 20px">
        <span class="panel-title"><b>图片详情</b></span>
        <a href="javascript:;" (click)="doDetailBtnClick()" class="glyphicon glyphicon-remove"></a>
    </div>
    <div class="row panel-body" style="margin:0 40px">
	    <div class="col-xs-9 detail-dec">
	    	<div class="row panel-div">
        	<span class="col-xs-3 text-right">图片标题:</span><span class="col-xs-9 text-left">很美好</span>
        </div>
        <div class="row panel-div">
        	<span class="col-xs-3 text-right">拍摄工具:</span><span class="col-xs-9 text-left">很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好</span>
        </div>
        <div class="row panel-div">
        	<span class="col-xs-3 text-right">修图软件:</span><span class="col-xs-9 text-left">很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好</span>
        </div>
        <div class="row panel-div">
        	<span class="col-xs-3 text-right">拍摄地点:</span><span class="col-xs-9 text-left">很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好</span>
        </div>
        <div class="row panel-div">
        	<span class="col-xs-3 text-right">拍摄时间:</span><span class="col-xs-9 text-left">很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好</span>
        </div>
        <div class="row panel-div">
        	<span class="col-xs-3 text-right">图片简介:</span><span class="col-xs-9 text-left">很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好很美好</span>
        </div>
        <div class="row panel-div">
        	<span class="col-xs-3 text-right">访问量:</span><span class="col-xs-9 text-left">111</span>
        </div>
        <div class="row panel-div">
        	<span class="col-xs-3 text-right">点赞量:</span><span class="col-xs-9 text-left">10</span>
        </div>
	    </div>
	    <div class="col-xs-3">
					<img class="img-rounded detail-img" src="../../../assets/pbl/images/img_12.jpg" alt="">
	    </div>
    </div>
			<div class="detail-zan">
				<a href="#" title="赞一个" class="detail-zan-img"><img class="img-circle" src="../../../assets/images/zan.png" alt="..." ></a>
			</div>
</div>
