
<div class="detail-back" (click)="doDetailBtnClick()"></div>
<div class="panel panel-default well picture-detail">
    <div class="panel-heading" style="margin:0 40px 20px">
        <span class="panel-title">图片详情</span>
        <a href="javascript:;" (click)="doDetailBtnClick()" class="glyphicon glyphicon-remove"></a>
    </div>
    <div class="panel-body" style="margin:0 40px">
	    <div class="detail-dec">
	        时间：
	        地点：
	    </div>
	    <div class="detail-zan">
	        赞
	    </div>
    </div>
</div>
