 .navbar{
	background-color:#15293a;
	height:80px;
	
}
.navbar a{
	color:#fff;
	height:80px;
	line-height:52px;
	width:120px;
	text-align:center;
}
.navbar ul{
	padding-left:15%;
}
.navbar ul li{
	
}
.navbar a:hover{
	background-color:#fff;
	color:#2c94ed;
} 
.footer-bar{
	text-align:center;
	padding-top:100px;
	color: #9d9d9d;
	height:200px;
	background-color:#15293a;
}
.footer-bar a{
	color: #3e3e3e;
}
.footer-bar p{
	line-height:70px;
}
.footer ul li {
	display:inline-block;
	padding: 0 20px;
}