<!-- 顶部导航 -->
<div class="top-navbar navbar-fixed-top" id="top-navbar">
    <div class="top-navbar-list">
        <ul class="">
            <li>
                <a routerLink="home">首页</a>
            </li>
            <li (mouseenter)="enterCourse()" (mouseleave)="enterCourse()">
                <a href="javascript:;">教学区</a>
                <div id="course-card" *ngIf="showCourse">
                    <a routerLink="course" class="item">课件区</a>
                    <a routerLink="exam" class="item">试卷区</a>
                    <a href="exam" class="item">作业区</a>
                </div>
            </li>
            <li (mouseenter)="enterPic()" (mouseleave)="enterPic()">
                <a href="javascript:;">贴图区</a>
                <div id="course-card" *ngIf="showPic">
                    <a routerLink="album/add" class="item">风光摄影</a>
                    <a href="#" class="item">人像摄影</a>
                    <a href="#" class="item">静物摄影</a>
                    <a href="#" class="item">人文摄影</a>
                    <a href="#" class="item">创意摄影</a>
                </div>
            </li>
            <li>
                <a routerLink="album">作品区</a>
            </li>
            <li>
                <a routerLink="forum">讨论区</a>
            </li>
        </ul>
    </div>
    <div class="top-navbar-header">
        <a routerLink="home">
            <img src="../assets/images/logo.jpg" width="60" height="60" alt="">
        </a>
    </div>
    <!-- 用户已登录 -->
    <div class="top-navbar-right">
        <div  (mouseenter)="fooEnter()" (mouseleave)="fooEnter()">
            <a id="top-navbar-right" href="#" style="color: red">&nbsp;&nbsp;<img src="../assets/images/logo.jpg" width="40" height="40"></a>
                <div class="g-user-card" *ngIf="showTimes">
                    <a href="mypage" class="item"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;个人主页</a>
                    <a href="#" class="item"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;登出</a>
                </div>
        </div>
    </div>
    <!-- 用户未登录  重要不能删除-->
    <!-- <div class="top-navbar-right no-login">
        <a href="javascript:;" (click)="doLogin=!doLogin"><i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;登录</a>
    </div> -->
</div>
<!-- 登录 -->
<app-login *ngIf="doLogin" (doLogin)="doLogin=!doLogin"></app-login>

<!-- 主体内容区域 -->

<router-outlet></router-outlet>

<!-- 底部区域 -->
<div class="footer bs-footer footer-bar">
    <div class="container">
        <ul>
            <li><a href="about/us" title="联系我们">联系我们</a></li>
            <li><a href="about/contact" title="关于我们">关于我们</a></li>
            <li><a href="about/agreement" title="协议条款">协议条款</a></li>
            <li><a href="about/link" title="友情链接">友情链接</a></li>
        </ul>
        <p>
            Powered by <a routerLink="home" target="_blank">拍拍秀</a>
        </p>
    </div>
</div>
