<div class="list-classify">
	<ol class="breadcrumb">
	  <li class="active">教学区</li>
	  <li><a href="../exam">试卷区</a></li>
	  <li class="active">手机摄影考试</li>
	</ol>
</div>
<div class="container web-body wow bounceInDown">
	<div class="panel">
	<div class="row discuss">
		<div class="col-md-10 col-md-offset-1">
			<h3>手机摄影考试</h3>
			<div class="author">2017-3-5 发布</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="media answer-list">
				<div class="media-body">
					<div class="stem">
						<b>第一题：</b>
						<div class="stem-title">
							<p>阿斯达所大所多是错误？</p>	
							<p>A.学习</p>
							<p>B.加油</p>
							<p>C.加油</p>
						</div>
						
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> A
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> B
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> C
						</label>
					</div>
					<div class="teacher-comment">
						老师点评：
						<textarea class="form-control" rows="3" placeholder="请在此处填写评语..."></textarea>
					</div>
				</div>
			</div>
			<div class="media answer-list">
				<div class="media-body">
					<div class="stem">
						<b>第二题：</b>
						<div class="stem-title">
							<p>阿斯达所大所多是错误？</p>	
						</div>
						
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions1" value="option1"> 对
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions1" value="option2"> 错
						</label>					
					</div>
				</div>
			</div>
			<div class="media answer-list">
				<div class="media-body">
					<div class="stem">
						<b>第三题：</b>
						<div class="stem-title">
						<!-- 尺寸最长为300*300 -->
							<a href="../../../assets/images/logo.jpg" target="blank" title=""><img src="../../../assets/homeimg/images/1.jpg" class="stem-img" alt=""/></a>
							<p>简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。简述阿斯达所大所多的错误。</p>	
						</div>
						<textarea class="form-control" rows="3" placeholder="根据需求请写出你对图片的见解..."></textarea>
					</div>
				</div>
			</div>
			<div class="media answer-list">
				<div class="media-body">
					<div class="stem">
						<b>第四题：</b>
						<div class="stem-title">
							<p>描述大自然景色的图片。</p>	
						</div>
						<div class="col-md-12">
							<div id="summernote">请在此上传图片！</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row"  style="min-height: 200px;text-align: right;width: 1040px;">
		<button class="btn btn-success">提交答卷</button>
	</div>
	</div>
</div>