<div class="container-fluid web-body">
    <div class="row user-info">
        <div class="container">
            <div class="row main-user" style="height: 100px">
                <div class="col-md-2 col-md-offset-1 col-xs-3">
                    <img src="assets/images/logo.jpg" height="80" width="80" class="img-circle avatar">
                </div>
                <div class="col-md-5 col-xs-9">
                    <div class="right-user">
                        <h2 style="float: left;margin-top: 22px">小明</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container user-mian">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#userInfo" aria-controls="userInfo" role="tab" data-toggle="tab">个人资料</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">修改密码</a></li>
                    <li role="presentation"><a href="#message" aria-controls="message" role="tab" data-toggle="tab">消息记录<span class="badge">4</span></a></li>
                    <li role="presentation"><a href="#pictures" aria-controls="pictures" role="tab" data-toggle="tab">我的图片</a></li>
                    <!-- 试卷区，学生登录展示 -->
                    <li role="presentation"><a href="#paper" aria-controls="paper" role="tab" data-toggle="tab">我的试卷</a></li>
                    <!-- 班级管理教师登录展示 -->
                    <li role="presentation"><a href="#classManage" aria-controls="classManage" role="tab" data-toggle="tab">班级管理</a></li>
                    <li role="presentation"><a href="#teacher" aria-controls="teacher" role="tab" data-toggle="tab">教学管理</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <!-- 个人信息----学生，教师 -->
                <div role="tabpanel" class="tab-pane active" id="userInfo">
                    <app-user-info></app-user-info>
                </div>
                <!-- 修改密码----学生，教师 -->
                <div role="tabpanel" class="tab-pane" id="settings">
                    <app-user-pwd></app-user-pwd>
                </div>
                <!-- 消息记录----学生，教师 -->
                <div role="tabpanel" class="tab-pane" id="message">
                    <app-user-messages></app-user-messages>
                </div>
                <!-- 展示已上传的图片--学生，教师-->
                <div role="tabpanel" class="tab-pane" id="pictures">
                    <app-user-picture></app-user-picture>
                </div>
                <!-- 做过的试卷--只学生 -->
                <div role="tabpanel" class="tab-pane" id="paper">
                    <app-user-paper></app-user-paper>
                </div>
                <div role="tabpanel" class="tab-pane" id="classManage">
                    <app-user-class-manage></app-user-class-manage>
                </div>
                <div role="tabpanel" class="tab-pane" id="teacher">
                    <app-user-teacher></app-user-teacher>
                </div>
            </div>
        </div>
    </div>
</div>
