<div class="container activity-list">
	<div class="list-classify">
		<ol class="breadcrumb">
		  <li><a href="activity/list">活动列表</a></li>
		</ol>
	</div>
    <div class="list-list">
        <div class="panel panel-warning">
            <a href="activity" title="">
                <div class="panel-body">
                    <div class="panel-img">
                        <img src="../../assets/pbl/images/img_2.jpg">
                    </div>
                    <div class="panel-detail">
                        <h3>活动简介：</h3>
                        <p class="detail-intro">快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="panel panel-warning">
            <a href="activity" title="">
                <div class="panel-body">
                    <div class="panel-img">
                        <img src="../../assets/pbl/images/img_2.jpg">
                    </div>
                    <div class="panel-detail">
                        <h3>活动简介：</h3>
                        <p class="detail-intro">快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="panel panel-warning">
            <a href="activity" title="">
                <div class="panel-body">
                    <div class="panel-img">
                        <img src="../../assets/pbl/images/img_2.jpg">
                    </div>
                    <div class="panel-detail">
                        <h3>活动简介：</h3>
                        <p class="detail-intro">快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！快来参加这个比赛吧！</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
