<div class="panel-heading">
    <h3 class="header">班级管理</h3>
</div>
<div class="row">
    <div class="col-sm-2" style="text-align: center;">
        <h4>选择班级</h4>
    </div>
    <div class="col-sm-2">
        <select class="form-control">
            <option>1班</option>
            <option>2班</option>
        </select>
    </div>
    
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
        <div class="">
            <table class="table table-hover">
                <thead>
                	<tr>
                		<th>序号</th>
                		<th>姓名</th>
                		<th>账号</th>
                		<th>操作</th>
                	</tr>
                </thead>
                <tbody>
                	<tr>
                		<th scope="row">1</th>
                		<td>小明</td>
                		<td>342342</td>
                		<td><a href="#">重置密码</a>&nbsp;&nbsp;<a href="#">删除</a></td>
                	</tr>
                	<tr>
                		<th scope="row">2</th>
                		<td>小明</td>
                		<td>342342</td>
                		<td><a href="#">重置密码</a>&nbsp;&nbsp;<a href="#">删除</a></td>
                	</tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
