<div class="panel-heading">
    <h3 class="header">班级管理</h3>
</div>
<div class="row">
    <div class="col-sm-2" style="text-align: center;">
        <h4>选择班级</h4>
    </div>
    <div class="col-sm-2">
        <select class="form-control">
            <option>1班</option>
            <option>2班</option>
        </select>
    </div>
    <div class="col-sm-2"><a href="javascript:;" (click)="addStudent=!addStudent">添加学生</a></div>
    <div class="col-sm-4 col-sm-offset-1">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索学生">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜索</button>
      </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>账号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>小明</td>
                    <td>342342</td>
                    <td><a href="#">重置密码</a>&nbsp;&nbsp;<a href="#">删除</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>小明</td>
                    <td>342342</td>
                    <td><a href="#">重置密码</a>&nbsp;&nbsp;<a href="#">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 添加学生 -->
<div *ngIf="addStudent" class="addStudentBox">
    <div class="addStudentBack" (click)="addStudent=!addStudent"></div>
    <div class="panel panel-default add-student-panel">
        <div class="panel-heading" >
            <span class="panel-title">用户登录</span>
            <a href="javascript:;" (click)="removeAddPanel()" class="glyphicon glyphicon-remove pull-right"></a>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="addTitle" class="col-sm-4 control-label">姓名：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addTitle" class="col-sm-4 control-label">学校类型：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addTitle" class="col-sm-4 control-label">学校：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addTitle" class="col-sm-4 control-label">年级：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addTitle" class="col-sm-4 control-label">班级：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addTitle" class="col-sm-4 control-label">QQ:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer"><button class="pull-right btn btn-success">提交</button></div>
    </div>
</div>
