<div class="container web-body wow bounceInDown">
	<div class="panel">
		<div class="row discuss">
		<div class="col-md-10 col-md-offset-1">
			<h3>这年头当小偷都得英语过六级了，你还不好好读书</h3>
			<div class="author">2017-3-5 发布</div>
		</div>
	</div>
	<div class="row discuss">
		<div class="col-md-10 col-md-offset-1 content">
			<p>近日成都一小偷被抓获。他利用超市"不用小票即可退货"的政策漏洞，用“先偷后退”的方式套取现金，作案十余起、偷盗金额超6万！而由于他英语达到六级水平，竟一路说英语装老外，甚至有路人帮他翻译，超市店员因此被蒙蔽。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		<div class="page-header"><h3>13个回答</h3></div>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="media answer-list">
				<div class="media-left">
					<a href="#"><img class="media-object" src="assets/images/person1.jpg" width="64" height="64"></a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">楼主&nbsp;&nbsp;&nbsp;<small>2017-3-5 回答</small></h4>
					不少网友感慨，“天哪，有这水平干嘛不好好找个工作?”“能干点正事不?”
				</div>
			</div>
			<div class="media answer-list">
				<div class="media-left">
					<a href="#"><img class="media-object" src="assets/images/person1.jpg" width="64" height="64"></a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">楼主&nbsp;&nbsp;&nbsp;<small>2017-3-5 回答</small></h4>
					对此，有网友调侃“我发现我连做小偷都不够门槛啊!”
				</div>
			</div>
			<div class="media answer-list">
				<div class="media-left">
					<a href="#"><img class="media-object" src="assets/images/person1.jpg" width="64" height="64"></a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">楼主&nbsp;&nbsp;&nbsp;<small>2017-3-5 回答</small></h4>
					还有网友表示“我能说什么呢？知识改变命运？还是“就怕流氓有文化”？”
					<img src="assets/images/person1.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="row"  style="min-height: 200px">
		<div class="col-md-10 col-md-offset-1">
			<div id="summernote">快来讨论吧！</div>
		</div>
		<div class="col-md-3 col-md-offset-7 forum-btn"><button class="btn btn-success">提交回答</button></div>
	</div>
	</div>
</div>