<div class="container web-body">
	<div class="row discuss">
		<div class="col-md-9 col-md-offset-1">
			<h3>这年头当小偷都得英语过六级了，你还不好好读书</h3>
			<div class="author">2017-3-5 发布</div>
		</div>
	</div>
	<div class="row discuss">
		<div class="col-md-9 col-md-offser-1">
			<p>近日成都一小偷被抓获。他利用超市"不用小票即可退货"的政策漏洞，用“先偷后退”的方式套取现金，作案十余起、偷盗金额超6万！而由于他英语达到六级水平，竟一路说英语装老外，甚至有路人帮他翻译，超市店员因此被蒙蔽。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-md-offser-1">
			<h3>13个回答</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-md-offser-1">
			<div class="media">
				<div class="media-left">
					<a href="#"><img src="assets/images/logo.jpg" width="64" height="64"></a>
				</div>
			</div>
		</div>
	</div>
</div>