<!-- 图片轮播 -->
<div class="container">
	<section id="dg-container" class="dg-container">
		<div class="dg-wrapper">
			<a href="#"><img src="../../assets/homeimg/images/5.jpg" alt="image05"></a>
			<a href="#"><img src="../../assets/homeimg/images/6.jpg" alt="image06"></a>
			<a href="#"><img src="../../assets/homeimg/images/7.jpg" alt="image07"></a>
			<a href="#"><img src="../../assets/homeimg/images/8.jpg" alt="image07"></a>
		</div>
		<nav>	
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav>
	</section>
</div>
<!-- 热门论坛 -->
<div class="section-bg">
	<div id="container">
		<!-- 教学经典 -->
		<div class="wow bounce section-title" >
	    <p><b>教学——摄影因为有你才精彩！</b></p>
	    <p>在这里学到丰富而又美妙的摄影知识。</p>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInLeft" data-wow-delay="0.5s">
		  		<div class="box">
						<img src="../../assets/homeimg/images/1.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow flipInY">
					<div class="box">
						<img src="../../assets/homeimg/images/2.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInRight" data-wow-delay="0.5s">
					<div class="box">
						<img src="../../assets/homeimg/images/3.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	  </div>

		<!-- 风光摄影 -->
	  <div class="wow pulse section-title">
	    <p><b>风光摄影</b></p>
	    <p>强大的师资阵容，一流的教学理念。</p>
	    <button type="button" class="btn btn-warning" routerLink="../album/add">我要投稿</button>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInDown" data-wow-delay="0.5s">
	  			<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; 最新</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
		  		<div class="box">
						<img src="../../assets/homeimg/images/1.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow tada">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; 热门</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/2.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInUp" data-wow-delay="0.5s">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-flag"></i> &nbsp; 经典</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/3.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	  </div>

		<!-- 人像摄影 -->
	  <div class="wow pulse section-title">
	    <p><b>人像摄影</b></p>
	    <p>强大的师资阵容，一流的教学理念。</p>
	    <button type="button" class="btn btn-warning">我要投稿</button>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInDown" data-wow-delay="0.5s">
	  			<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; 最新</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
		  		<div class="box">
						<img src="../../assets/homeimg/images/4.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow tada">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; 热门</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/5.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInUp" data-wow-delay="0.5s">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-flag"></i> &nbsp; 经典</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/6.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	  </div>

	  <!-- 静物摄影 -->
	  <div class="wow pulse section-title">
	    <p><b>静物摄影</b></p>
	    <p>强大的师资阵容，一流的教学理念。</p>
	    <button type="button" class="btn btn-warning">我要投稿</button>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInDown" data-wow-delay="0.5s">
	  			<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; 最新</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
		  		<div class="box">
						<img src="../../assets/homeimg/images/1.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow tada">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; 热门</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/2.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInUp" data-wow-delay="0.5s">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-flag"></i> &nbsp; 经典</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/3.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	  </div>

	  <!-- 人文摄影 -->
	  <div class="wow pulse section-title">
	    <p><b>人文摄影</b></p>
	    <p>强大的师资阵容，一流的教学理念。</p>
	    <button type="button" class="btn btn-warning">我要投稿</button>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInDown" data-wow-delay="0.5s">
	  			<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; 最新</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
		  		<div class="box">
						<img src="../../assets/homeimg/images/1.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow tada">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; 热门</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/2.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInUp" data-wow-delay="0.5s">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-flag"></i> &nbsp; 经典</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/3.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	  </div>

	  <!-- 创意摄影 -->
	  <div class="wow pulse section-title">
	    <p><b>创意摄影</b></p>
	    <p>强大的师资阵容，一流的教学理念。</p>
	    <button type="button" class="btn btn-warning">我要投稿</button>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInDown" data-wow-delay="0.5s">
	  			<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; 最新</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
		  		<div class="box">
						<img src="../../assets/homeimg/images/1.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow tada">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; 热门</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/2.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInUp" data-wow-delay="0.5s">
	    		<a href="#" title="">
		  			<div class="section-type">
		  				<span class="section-type-left"><i class="glyphicon glyphicon-flag"></i> &nbsp; 经典</span>
		  			
		  				<span class="section-type-right">更多 >>&nbsp;</span>
		  			</div>
	  			</a>
					<div class="box">
						<img src="../../assets/homeimg/images/3.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">观</a></li>
								<!-- <li><a href="#">评</a></li> -->
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	  </div>
	  <div>
	  	
	  </div>
	</div>
</div>



