<div class="container">
	<section id="dg-container" class="dg-container">
		<div class="dg-wrapper">
			<a href="#"><img src="../../assets/homeimg/images/5.jpg" alt="image05"></a>
			<a href="#"><img src="../../assets/homeimg/images/6.jpg" alt="image06"></a>
			<a href="#"><img src="../../assets/homeimg/images/7.jpg" alt="image07"></a>
			<a href="#"><img src="../../assets/homeimg/images/8.jpg" alt="image07"></a>
		</div>
		<nav>	
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav>
	</section>
</div>
<!-- 热门论坛 -->
<div class="section-bg">
	<div id="container">
	  <div class="wow pulse section-title">
	    <p><b>摄影教育，艺术魅力！</b></p>
	    <p>强大的师资阵容，一流的教学理念。</p>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInLeft" data-wow-delay="0.5s">
		  		<div class="box">
						<img src="../../assets/homeimg/images/4.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow flipInY">
					<div class="box">
						<img src="../../assets/homeimg/images/5.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInRight" data-wow-delay="0.5s">
					<div class="box">
						<img src="../../assets/homeimg/images/6.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	    
	    <!-- <section class="section--blue wow bounceInLeft" data-wow-offset="300"></section>
	    <section class="section--green wow slideInLeft" data-wow-iteration="infinite" data-wow-duration="1500ms" data-wow-duration="4s"></section> -->
	  </div>


		<div class="wow pulse section-title" data-wow-delay="1.2s">
	    <p><b>论坛因为有你才精彩！</b></p>
	    <p>在这里欣赏优秀的作品。</p>
	  </div>
	  <div class="section-main">
	  	<div class="section-group">
	  		<section class="wow bounceInDown" data-wow-delay="0.5s">
		  		<div class="box">
						<img src="../../assets/homeimg/images/1.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	  		</section>
	    	<section class="wow tada">
					<div class="box">
						<img src="../../assets/homeimg/images/2.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	    	</section>
	    	<section class="wow bounceInUp" data-wow-delay="0.5s">
					<div class="box">
						<img src="../../assets/homeimg/images/3.jpg">
						<div class="box-content">
							<h3 class="title">雷神索尔</h3>
							<span class="post">卡通恶搞造型</span>
							<ul class="icon">
								<li><a href="#">赞</a></li>
								<li><a href="#">评</a></li>
							</ul>
						</div>
					</div>
	    	</section>	
	  	</div>
	    
	    <!-- <section class="section--blue wow bounceInLeft" data-wow-offset="300"></section>
	    <section class="section--green wow slideInLeft" data-wow-iteration="infinite" data-wow-duration="1500ms" data-wow-duration="4s"></section> -->
	  </div>

	  <div>
	  	
	  </div>
	</div>
</div>



