<div class="container">
	<section id="dg-container" class="dg-container">
		<div class="dg-wrapper">
			<a href="#"><img src="../../assets/homeimg/images/5.jpg" alt="image05"></a>
			<a href="#"><img src="../../assets/homeimg/images/6.jpg" alt="image06"></a>
			<a href="#"><img src="../../assets/homeimg/images/7.jpg" alt="image07"></a>
			<a href="#"><img src="../../assets/homeimg/images/8.jpg" alt="image07"></a>
		</div>
		<nav>	
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav>
	</section>
</div>
<!-- 热门论坛 -->
<div class="section-bg">
	<div id="container">
	  <div class="section-title">
	    <b>论坛因为有你才精彩！</b>
	  </div>
	  <div id="main">
	  	<div class="section-group">
	  		<section class="wow bounceInLeft" data-wow-delay="0.5s"></section>
	    	<section class="wow fadeInUp"></section>
	    	<section class="wow bounceInRight" data-wow-delay="0.5s"></section>	
	  	</div>
	    
	  	<div class="section-group">
	  		<section class="wow bounceInLeft"  data-wow-delay="0.5s" style="background-color: #f1c40f;"></section>
	    	<section class="wow fadeInUp" style="background-color: #e74c3c;"  ></section>
	    	<section class="wow bounceInRight"  data-wow-delay="1s" style="background-color: #f1c40f;"></section>	
	  	</div>
	    <!-- <section class="section--blue wow bounceInLeft" data-wow-offset="300"></section>
	    <section class="section--green wow slideInLeft" data-wow-iteration="infinite" data-wow-duration="1500ms" data-wow-duration="4s"></section> -->
	  </div>
	  <div>
	  	
	  </div>
	</div>
</div>



